{% extends 'main.html' %}

{% block content %}
<center>
    <center>
        {% if error %}
            <h2>The user name is already taken...!</h2>
        {% endif %}
    </center>
    <center>
            <h2>{{pasw}}</h2>
    </center>
    <h2>Register Page:</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">First Name:</label>
        <input type="text" name="fname" id=""><br>

        <label for="">Last Name:</label>
        <input type="text" name="lname" id=""><br>

        <label for="">Email:</label>
        <input type="email" name="email" id=""><br>

        <label for="">Username:</label>
        <input type="text" name="uname" id=""><br>
        
        <label for="">Password:</label>
        <input type="text" name="pasw" id=""><br>

        <button type="submit">Submit</button>


    </form>

</center>
{% endblock %}