{% extends 'main.html' %}


{% block content %}
<center>
    <h2>profile page</h2>
    <h2>
            User : {{ request.user }} //
            Verfied : {{ request.user.is_authenticated }} <br>
            UserName : {{ request.user.username }} <br>
            First name: {{ request.user.first_name }}  <br>
            Last name: {{ request.user.last_name }} <br>
            Email: {{ request.user.email }} <br>
          
    </h2>
    <a href="{% url 'rest_pass' %}">Reset Password</a>
    <a href="{% url 'updateprofile' %}">Update Profile</a>
</center>
{% endblock %}