*{padding: 0;margin: 0;box-sizing: border-box;}
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    background: gray;
    .logo{
        height: 100%;
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-style: italic;
    }
    .links{
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
    }
}