<nav>
    <div class="logo">
        <h1>ShopSphere</h1>
    </div>
    <div class="links">
        {%  if request.user.is_authenticated %}
            {% if profile_nav %}
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'cart' %}">CART({{ cartproducts_count }})</a>
                <a href="{% url 'profile' %}">PROFILE({{request.user}})</a>
                <a href="{% url 'logout_' %}">LOGOUT</a>
                <a href="">SUPPORT</a>
                <a href="">KNOWUS</a>
            {% else %}
                <form action="">
                    <input type="text" name="q" id="" placeholder="Search"> 
                    <input type="submit" value="Search">
                </form>

                <!-- Trending button -->
                <form action="">
                    <input type="submit" value="Trending" name="trending">
                </form>

                <!-- offer button -->
                <form action="">
                    <input type="submit" value="Offer" name="offer">
                </form>
                
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'cart' %}">CART({{ cartproducts_count }})</a>
                <a href="{% url 'profile' %}">PROFILE({{request.user}})</a>
                <a href="{% url 'logout_' %}">LOGOUT</a>
                <a href="">SUPPORT</a>
                <a href="">KNOWUS</a>
            {% endif %}
        {%  else %}
            {% if login_nav %}
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'login_' %}">LOGIN</a>
                <a href="">SUPPORT</a>
                <a href="">KNOWUS</a>
            {% else %}
                <form action="">
                    {% csrf_token %}
                    <input type="text" name="q" id="" placeholder="Search">
                    <input type="submit" value="Search">
                </form>

                <!-- trending button -->
                <form action="">
                    <input type="submit" value="Trending" name="trending">
                </form>

                <!-- offer button -->
                <form action="">
                    <input type="submit" value="Offer" name="offer">
                </form>

                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'login_' %}">LOGIN</a>
                <a href="">SUPPORT</a>
                <a href="">KNOWUS</a>
            {% endif %}
        {% endif %}
    </div>
</nav>