*{padding: 0%;margin: 0%;box-sizing: border-box;}

nav{
    height: 10vh;
    width: 100%;
    background: gray;
    display: flex;
    .logo{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-style: italic;
    }
    .links{
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        a{
            color: black;
            /* font-size: 16px; */
            font-weight: bold;
            text-decoration: none;
        }
    }
}