{% extends 'main.html' %}

{% block content %}
<center>
    
    <h2>Cart Page</h2>
    <table border="1">
        <tr>
            <th>Sr.NO</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Remove</th>
        </tr>
        {% for item in cartproducts %}
            <tr>
               <td>{{ forloop.counter }}</td>
                <td>{{ item.pname }}</td>
                <td>{{ item.pcategory }}</td>
                <td>{{ item.price }}</td>
                <td><a href="{%  url 'csub' item.id %}">-</a>{{ item.quantity }} <a href="{%  url  'cadd' item.id %}">+</a></td>
                <td>{{ item.totalprice }}</td>
                <td><a href="{% url 'remove' item.id %}">Remove</a></td>
                
            </tr>
        {% endfor %}
    </table>
    <h1>Total Price:  {{ TA }}</h1>
</center>
{% endblock %}