{% extends 'main.html' %}


{% block content %}
    <h2>homepage</h2>
    <div class="category">
        {% for i in category %}
            <form action="">
                <input type="submit" value="{{i}}" name="cat">
            </form>
        {% endfor %}
        <a href="{% url 'home' %}">All Products</a>
    </div>
    <center>
        {% if nomatch %}
            <h2>No Products..!</h2>
        {% endif %}
    </center>
    <center>
        {% for i in all_products %}
            {% if trend %}
                <h3>Trending Now...!!</h3>
            {% endif %}
            {%  if offer %}
                <h3>50% Off</h3>
            {% endif %}
            <img src="{{i.pimages.url}}" alt="" style="height: 50px;width: 50px;"> <br>
            {{i.pname}} // {{i.pdesc}} // {{i.price}} 
            <a href="{% url 'addtocart' i.id %}">Add to cart</a>
            <a href="">Details</a> <br>
        {% endfor %}
    </center>
{% endblock %}